* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    

    &::before,&::after {

        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

body {
    overflow-x: hidden;
    background-color: #F8F8F8;
    position: relative;
}

html {

    font-family: 'arial', sans-serif;
    font-size: 62.5%;
}

a,
a:visited {
    color: inherit;

}